services:
  traefik:
    image: traefik
    restart: unless-stopped
    command:
      - "--entryPoints.http.address=:80"
      - "--entryPoints.http.http.redirections.entryPoint.to=https"
      - "--entryPoints.http.http.redirections.entryPoint.scheme=https"
      - "--entryPoints.http.http.redirections.entryPoint.permanent=true"
      - "--entryPoints.https.address=:443"
      - "--providers.docker.endpoint=unix:///var/run/docker.sock"
      - "--providers.docker.exposedByDefault=false"
      - "--providers.docker.defaultRule=Host(`{{ index .Labels \"traefik.subdomain\" }}.${SERVER_HOST}`)"
      - "--certificatesResolvers.letsEncrypt.acme.email=${ACME_EMAIL}"
      - "--certificatesResolvers.letsEncrypt.acme.storage=/certificates/acme.json"
      - "--certificatesResolvers.letsEncrypt.acme.httpChallenge.entryPoint=http"

    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./certificates:/certificates

networks:
  default:
    name: traefik
    external: true
